<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Company Profile{% endblock %}

{% block header %}
<h1>{{ u['name'] }}'s Profile</h1>
{% endblock %}

{% block content %}
    <div class="profile-info">
        <h2>User Information</h2>
        <p><strong>User ID:</strong> {{ cp['user_id'] }}</p>
        <p><strong>Location:</strong>
            {% for loc in cl %}
                {{ loc['location'] }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Field:</strong> {{ cp['field'] }}</p>
        <p><strong>Bio:</strong> {{ u['bio'] }}</p>
        <p><strong>Image:</strong> {{ u['image_url'] }}</p>
    </div>

    <div class="user-posts">
        <h2>User Posts</h2>
        {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <p>Posted on {{ post['creation_date'] }}</p>
                        <img src="{{ post['image_url'] }}" alt="Post Image">
                        <h2>Post Content</h2>
                        <p><strong>Post Text:</strong> {{ post['text'] }}</p>
                        <p><strong>Post Image:</strong> {{ post['image_url'] }}</p>
                    </div>
                {% endfor %}
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>

    <div class="job-listings">
        <h2>Job Listings</h2>
        {% if jl %}
            <ul>
                {% for job in jl %}
                    <li>
                        <strong>Position:</strong> {{ job['position'] }}<br>
                        <strong>Location:</strong> {{ job['location'] }}<br>
                        <strong>Description:</strong> {{ job['description'] }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No job listings found.</p>
        {% endif %}
    </div>
    <button class="connect-btn" data-username="{{ cp['user_id'] }}" style="font-size: 35px;">MESSAGE</button>
    <script>
        // Add event listener to the message button
        document.querySelector('.connect-btn').addEventListener('click', function() {
            // Extract the username from the data attribute
            const username = this.dataset.username;
            // Make a GET request to the conversation_with route with the username as a query parameter
            fetch(`/conversation_with?username=${username}`)
                .then(response => {
                    // Check if the response status is OK
                    if (response.ok) {
                        // Redirect to the conversation_with page
                        window.location.href = response.url;
                    } else {
                        // Handle error
                        console.error('Error:', response.statusText);
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}
</html>
