<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block header %}
  <h1>Feed</h1>
{% endblock %}

{% block content %}
    <div class="feed">
        {% for post in posts %}
            <div class="post">
                <p>Posted by {{ post['post_owner_id'] }} on {{ post['post_creation_date'] }}</p>
                <img src="{{ post['post_image_url'] }}" alt="Post Image">
                <h2>Post Content</h2>
                <p><strong>User ID:</strong> {{ post['post_owner_id'] }}</p>
                <button class="view-profile-btn" data-username="{{ post['post_owner_id'] }}">View Profile</button>
                <p><strong>Post Text:</strong> {{ post['post_text'] }}</p>
                <p><strong>Post Image:</strong> {{ post['post_image_url'] }}</p>
                
                <h4>Reactions:</h4>
                <ul>
                    <li>{{ post['reacting_user_id'] }} reacted with {{ post['reaction'] }}</li>
                </ul>
                <h4>Comments:</h4>
                <ul>
                    <li>{{ post['reacting_user_id'] }} reacted with {{ post['comment'] }}</li>
                </ul>
        
                <form method="post" action="/feed">
                    <input type="hidden" name="post_owner_id" value="{{ post['post_owner_id'] }}">
                    <input type="hidden" name="post_number" value="{{ post['post_number'] }}">
                    <label for="reaction">Reaction:</label>
                    <input type="text" name="reaction" id="reaction" required>
                    <label for="comment">Comment:</label>
                    <input type="text" name="comment" id="comment">
                    <input type="submit" value="React">
                </form>
                
                
        
            </div>
        {% endfor %}
    </div>

    <script>
        // Add event listener to all view profile buttons
        document.querySelectorAll('.view-profile-btn').forEach(button => {
            button.addEventListener('click', function() {
                // Extract the username from the data attribute
                const username = this.dataset.username;
                // Make a GET request to the viewprofile route with the username as a query parameter
                fetch(`/viewprofile?username=${username}`)
                    .then(response => {
                        // Check if the response status is OK
                        if (response.ok) {
                            // Redirect to the viewprofile page
                            window.location.href = response.url;
                        } else {
                            // Handle error
                            console.error('Error:', response.statusText);
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
{% endblock %}
</html>