<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block header %}
  <h1>Feed</h1>
{% endblock %}

{% block content %}
  <div class="feed">
    {% for post in user_feed %}
      <div class="post">
        <p>Posted by {{ post['user_id'] }} on {{ post['creation_date'] }}</p>
        <p>{{ post['image_url'] }}</p>
        <p>{{ post['text'] }}</p>

        <h4>Reactions:</h4>
        <ul>
          {% for reaction in post_interaction['reaction'] %}
            <li>{{ post_interaction['reacting_user_id'] }} reacted with {{ post_interaction['reaction'] }}</li>
          {% endfor %}
        </ul>

        <form method="post" action="{{ url_for('add_reaction', post_id=post.id) }}">
          <label for="reaction">Reaction:</label>
          <input type="text" name="reaction" id="reaction" required>
          <label for="comment">Comment:</label>
          <input type="text" name="comment" id="comment">
          <input type="submit" value="React">
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}


</html>