<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block header %}
  <h1>Feed</h1>
{% endblock %}

{% block content %}
  <div class="feed">
    {% for post in post_out %}
      <div class="post">
        <p>Posted by {{ post.Post_owner_id }} on {{ post.Post_creation_date }}</p>
        <img src="{{ post.Post_image_url }}" alt="Post Image">
        <p>{{ post.Post_text }}</p>


          <label for="reaction">Reaction:</label>
          <input type="text" name="reaction" id="reaction" required>
          <label for="comment">Comment:</label>
          <input type="text" name="comment" id="comment">
          <input type="submit" value="React">
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
</html>