<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pp['user_id'] }}'s Profile</title>
    <link rel="stylesheet" href="styles.css"> <!-- Include your CSS file here -->
</head>
<body>
    <h1>{{ pp['user_id'] }}'s Profile</h1>
    <div class="profile-info">
        <h2>User Information</h2>
        <p><strong>User ID:</strong> {{ pp['user_id'] }}</p>
        <p><strong>Education:</strong> {{ pp['education'] }}</p>
        <p><strong>Bio:</strong> {{ pp['bio'] }}</p>
        <p><strong>Image:</strong> {{ pp['image_url'] }}</p>
        <p><strong>Employment Status:</strong> {{ pp['employment_status'] }}</p>
        <p><strong>Date of Birth:</strong> {{ pp['date_of_birth'] }}</p>
        <p><strong>Location:</strong> {{ pp['location'] }}</p>
        <p><strong>Position:</strong> {{ pp['position'] }}</p>
        <p><strong>Position Seeking:</strong> {{ pp['position_seeking'] }}</p>
    </div>

    <div class="user-posts">
        <h2>User Posts</h2>
        {% if posts %}
            <ul>
                {% for post in posts %}
                    <div class="post">
                        <p>Posted on {{ post['creation_date'] }}</p>
                        <img src="{{ post['image_url'] }}" alt="Post Image">
                        <h2>Post Content</h2>
                        <p><strong>Post Text:</strong> {{ post['text'] }}</p>
                        <p><strong>Post Image:</strong> {{ post['image_url'] }}</p>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>

    <a href="{{ url_for('conversation_with', username=user_id) }}">Message User</a>

</body>
</html>
