<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Create Event{% endblock %}

{% block header %}
<h1>{{ pp['user_id'] }}'s Profile</h1>
{% endblock %}

{% block content %}
    <div class="profile-info">
        <h2>User Information</h2>
        <p><strong>User ID:</strong> {{ pp['user_id'] }}</p>
        <p><strong>Education:</strong> {{ pp['education'] }}</p>
        <p><strong>Bio:</strong> {{ pp['bio'] }}</p>
        <p><strong>Image:</strong> {{ pp['image_url'] }}</p>
        <p><strong>Employment Status:</strong> {{ pp['employment_status'] }}</p>
        <p><strong>Date of Birth:</strong> {{ pp['date_of_birth'] }}</p>
        <p><strong>Location:</strong> {{ pp['location'] }}</p>
        <p><strong>Position:</strong> {{ pp['position'] }}</p>
        <p><strong>Position Seeking:</strong> {{ pp['position_seeking'] }}</p>
    </div>

    <div class="user-posts">
        <h2>User Posts</h2>
        {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <p>Posted on {{ post['creation_date'] }}</p>
                        <img src="{{ post['image_url'] }}" alt="Post Image">
                        <h2>Post Content</h2>
                        <p><strong>Post Text:</strong> {{ post['text'] }}</p>
                        <p><strong>Post Image:</strong> {{ post['image_url'] }}</p>
                    </div>
                {% endfor %}
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>
<button class="connect-btn" data-username="{{ pp['user_id'] }}" style="font-size: 35px;">MESSAGE</button>
<script>
    // Add event listener to the message button
    document.querySelector('.connect-btn').addEventListener('click', function() {
        // Extract the username from the data attribute
        const username = this.dataset.username;
        // Make a GET request to the conversation_with route with the username as a query parameter
        fetch(`/conversation_with?username=${username}`)
            .then(response => {
                // Check if the response status is OK
                if (response.ok) {
                    // Redirect to the conversation_with page
                    window.location.href = response.url;
                } else {
                    // Handle error
                    console.error('Error:', response.statusText);
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>


{% endblock %}
</html>