{% extends 'base.html' %}

{% block title %}Explore{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Explore</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Search Users</h2>
                <input type="text" class="form-control form-control-lg" id="searchUsersInput" style="width: 100%;" placeholder="Search users...">
                <button class="search-btn" id="searchUsersButton" data-search-type="users">Search</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Search Location</h2>
                <input type="text" class="form-control form-control-lg" id="searchLocationInput" style="width: 100%;" placeholder="Search location...">
                <button class="search-btn" id="searchLocationButton" data-search-type="location">Search</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Search Position</h2>
                <input type="text" class="form-control form-control-lg" id="searchPositionInput" style="width: 100%;" placeholder="Search position...">
                <button class="search-btn" id="searchPositionButton" data-search-type="position">Search</button>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.search-btn').forEach(button => {
            button.addEventListener('click', function() {
                const searchType = this.dataset.searchType;
                const searchInputId = `search${searchType.charAt(0).toUpperCase() + searchType.slice(1)}Input`;
                const userInput = document.getElementById(searchInputId).value;
                fetch(`/search_results?search_type=${searchType}&query=${userInput}`)
                    .then(response => {
                        if (response.ok) {
                            window.location.href = response.url;
                        } else {
                            console.error('Error:', response.statusText);
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
    
{% endblock %}